/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */





   body {
     background-color:#FFF6F5;
     font-family: 'Work Sans', sans-serif;
     padding-top:100px;
     color:#2E2C2D;
   }


   nav {
     display:flex;
     position:fixed;
     align-items: center;
     top:0;
     left:0;
     right:0;
     background:#ffffff;
     padding:1vw;
   }

   a {
     color:#2E2C2D;
     text-decoration: none;
   }

   h1,h2,h3,h4,h5,h6 {
     font-weight: 600;
     line-height: 1;
     margin:0;
   }

   ul {
     padding:0;
   }

   h1 {
     font-size:6vw;
   }

   h2 {
     font-size:5vw;
     line-height: .98;
   }

   h3 {
     font-size:4vw;
   }

   h4 {
     font-size:30px;
   }

   h5 {
     font-size:18px;
   }

   h6 {
     text-transform: uppercase;
   }

   .nav-items {
     list-style: none;
     margin:.3em;
   }

   .nav-items .cta-left, .nav-items .cta-right{
     border:2px solid #FE504F;
     border-radius: 100px;
   }

   .nav-items a {
     display: inline-block;
     padding:.5em .6em;
   }


   .spacer {
     flex-grow:1;
   }


   .nav-items ul {
     list-style: none;
   }

   .nav-items ul li {
     display: inline-block;
     padding:0;
     margin:0;
   }

   .nav-items a {
     text-decoration: none;
   }

   .strata {
     padding: 10vh 15vw;
     background-size:100%;
     background-repeat: no-repeat;
     color:#FE504F;
   }

   .strata.red {
     background-color:#FE504F;
     color:#ffffff;
   }



   .strata.bg-black{
     background-image:url(../img/icon-b.svg);
     background-attachment: fixed;
     background-position:center;
   }

   .strata-format {
     text-align: center;
   }

   .strata.block-strata {
     display:flex;
     padding:0;
   }

   .block-strata-item {
     flex-grow: 1;
     padding:5vw;

   }

    .block-strata-item a {
      color:inherit;
      display: inline-block;
      padding:1em;
    }

    .block-strata-item a.cta-main {
      border:1px solid;
    }

   .block-strata-item:nth-child(odd) {
     background:#FE504F;
     color:white;
   }

   .block-strata-item:nth-child(even) {
     background:#2E2C2D;
     color:white;
   }

   .block-strata-item a {

   }


   .main-content-well {
     max-width: 800px;
     background: #fff;
     padding:3em;
     margin:0 auto;
   }

   .spacer{
     width:auto;
     height:1em;
   }

   .branding {
     display:flex;
     align-items: center;
   }

   .branding .icon {
     width:100px;
   }

  .branding .icon img {
     width:100%;
     height:auto;
   }

   .social-link-bar {
     margin:2em 0;
     text-align: center;
   }

   .social-link {
     width:2em;
     height:1.8em;
     display: inline-block;
     padding-top:.2em;
     font-size:18px;
     border:2px solid;
     border-radius: 100%;
     text-decoration: none;
   }

   .footer img {
     margin-bottom:2em;
   }









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
